
td {
    padding: 7px  10px; /* Opcional: Agrega un espacio interno (relleno) dentro de cada celda */
}

.product-details-price-wrapper {
    padding-top: 4px;
    padding-left: 10px;
}

#buy {
    margin-left: 30px;
}

.product-details-action-top {
    margin-top: 5px;
}