<div class="slider">

    <div>
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>

    <!-- <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div> -->
    <div style="width: 100%; height: 600px; margin: 0 auto">
        <app-image-slider-carrousel [slides]="slides"></app-image-slider-carrousel>
    </div>
    <div class="dotsContainer">
        {{ slides | json }}
        <div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
            ●
        </div>
    </div>

</div>