<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Categorias</h1>
            </div>
        </div>
    </div>
</div>
  

<div class="main-content-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <ul class="nav nav-tabs product-tab__head bg--dark-4" id="product-tab" role="tablist">
                <li class="product-tab__item nav-item active">
                    <a class="product-tab__link nav-link active" id="nav-featured-tab" data-bs-toggle="tab" (click)="getCategories('BRAND')" role="tab" aria-selected="true">Marcas</a>
                </li>
                <li class="product-tab__item nav-item">
                    <a class="product-tab__link nav-link" id="nav-new-tab" data-bs-toggle="tab"  (click)="getCategories('MODEL')"  role="tab" aria-selected="false">Modelos</a>
                </li>
                <li class="product-tab__item nav-item">
                    <a class="product-tab__link nav-link" id="nav-bestseller-tab" data-bs-toggle="tab" (click)="getCategories('MOVEMENT')" role="tab" aria-selected="false">Movimientos</a>
                </li>
            </ul>

            <div class="tab-content product-tab__content" id="product-tabContent">
                <div class="tab-pane fade show active" id="nav-featured" role="tabpanel">
                    <div class="cart-table table-content table-responsive">
                        <table class="table mb--30">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of categories">
                                    <td class="wide-column">
                                        <h3><a href="product-details.html">{{ item.description | uppercase }}</a></h3>
                                    </td>
                                    <td><a class="delete" href="#"><i class="fa fa-times"></i></a></td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="scroll-to-top" style="cursor: pointer;" (click)="openModal()">
    <mat-icon>close</mat-icon>
</a>
  