<header class="header headery-style-1">
  <div class="header-middle header-top-1">
      <div class="container">
          <div class="row no-gutters align-items-center">
              <div class="col-lg-5"></div>
              <div class="col-lg-2 col-12 order-lg-2 order-1 text-center">
                  <a routerLink="/product" class="logo-box mb-md--30">
                      <img src="assets/img/logo/logo b.png" alt="logo">
                  </a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header">
      <div class="container position-static">
          <div class="row">
              <div class="col-12 position-static text-center">
                  <nav class="main-navigation">
                      <ul class="mainmenu">
                          <li class="mainmenu__item">
                              <a routerLink="/product" class="mainmenu__link">Productos</a>
                          </li>
                          <li class="mainmenu__item">
                              <a routerLink="/category" class="mainmenu__link">Categorias</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="row no-gutters">
              <div class="col-12">
                  <div class="mobile-menu"></div>
              </div>
          </div>
      </div>
  </div>
</header>