<!-- ! FOOTER -->
<footer class="footer" style="height: 65px;">

  <div class="col" style="margin-bottom: -25px;">

    <div class="row">
      <!-- ? CONTACTO -->
      <div class="col-lg-2 col-md-2 col-sm-12 text-center">

        <div class="row ml-3 mt-1">
          <span class="material-icons color-primary mr-2"> phone_iphone </span>
          <strong class="text-white" (click)="notificationsInformation()" style="cursor: pointer;"> 0981013666 </strong>
        </div>

        <div class="row ml-3 mt-1">
          <i class="material-icons  color-primary mr-2"> mail_outline </i>
          <a href="mailto: beeappecuador@gmail.com" class="text-white"
            style="font-weight: bold; margin-right: -5rem;">beeappecuador@gmail.com</a>
        </div>

      </div>

      <!-- ? COPY -->
      <div class="col-lg-8 col-md-8 col-sm-12 text-center text-white justify-content-center">
        <div class="row ml-3 mt-1 text-center justify-content-center">
          <i class="material-icons color-primary  mr-2"> pin_drop </i>
          <a href="https://goo.gl/maps/28EXeeWfLFQXcbJF9" class="text-white" style="font-weight: bold;" target="_blank">
            Av. Ordóñez Lasso y Los Nogales, Cuenca</a>
        </div>

        <div class="row text-center justify-content-center">
          &copy; {{ today | date: "yyyy" }}
          <span class="font-weight-bold ml-1 text-primary">BEE COMPANY ALL RIGHTS
            RESERVED</span>
        </div>
      </div>
      <!-- ? REDES -->
      <div class="col-lg-2 col-md-2 col-sm-12 ml-auto text-center mt-1">
        <div class="btn-wrapper profile">
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1 icon-twitter-borde"
            href="https://twitter.com/beeappecuador/" target="_blank">
            <i class="fab fa-twitter icon-twitter"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1 icon-facebook-borde"
            href="https://www.facebook.com/bee.app.ec/" target="_blank">
            <i class="fab fa-facebook-square icon-facebook"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple icon-instagram-borde"
            href="https://www.instagram.com/beeapp_ec/" target="_blank">
            <i class="fab fa-instagram icon-instagram"> </i>
          </a>
        </div>
      </div>

    </div>
  </div>

</footer>