.icon-twitter:hover {
    color: #1d9bf0 !important;
}

.icon-twitter-borde:hover {
    border-color: #1d9bf0 !important;
}

.icon-facebook:hover {
    color: #0047A3 !important;
}

.icon-facebook-borde:hover {
    border-color: #0047A3 !important;
}

.icon-instagram:hover {
    color: #ff0169 !important;
}

.icon-instagram-borde:hover {
    border-color: #ff0169 !important;
}
